.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.js */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between the images */
  flex-wrap: wrap; /* Ensures that on smaller screens, images can wrap */
  padding: 20px;
}

.responsive-image {
  max-width: 45%; /* Adjust the width to ensure images don't take more than 45% of container */
  height: auto; /* Maintain aspect ratio */
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .responsive-image {
    max-width: 90%; /* On smaller screens, allow the images to be larger */
  }
}

